@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 120vh;
    min-height: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 30px auto;
    padding: 25px;

    /* overflow: auto; */
}

.fItem {
    min-width: 30vh;
    max-width: 30vh;
    
    margin: 50px 20px;
    padding: 10px 20px;

    cursor: pointer;
}

.cuisine {
    text-transform: uppercase;
    margin-left: 5px;

    color: grey;
    font-size: 12px;
}
.cuisineImg {
    margin: 30px 0px;
}

.cuisineImg p {
    font-weight: 200;
    font-size: 14px;
}

.pricing {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

.pricing p {
    font-weight: 600;
}

.pricing button {
    padding: 8px 10px;
    border-radius: 30px;

    color: white;
    font-weight: 700;

    background: linear-gradient(0.25turn, #f5914e, #e85826);

    border: none;
}